* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    display: flex;
    justify-content: space-evenly;
    padding-top: 15px;
}

li {
    list-style-type: none;
}

li > a {
    text-decoration: none;
}

form {
    width: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 30px;
}

#searchBar {
    width: 80%;
    border-radius: 50px;
    padding: 7px;
    padding-left: 10px;
}

#searchBtn {
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 2px;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aqua;
    padding-top: 30px;
}

.cardBody {
    width: 300px;
    background-color: aliceblue;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

.emojiGroup {
    display: flex;
}

.emoji1,
.emoji2,
.emoji3 {
    padding: 10px;
}

.viewMore {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}