* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: aqua;
    padding-top: 30px;
}

.cardBody {
    width: 300px;
    background-color: aliceblue;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 10px;
}

.emojiGroup {
    display: flex;
}

.emoji1,
.emoji2,
.emoji3 {
    padding: 10px;
}

.viewMore {
    margin-left: auto;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}